<div class="main_content_page">
    <div class="main_scrollbar_button_container">
        <%for(var i = 0;i<contacts.length; i++){%>
          <%if(contacts[i][8] == companys[num][1]){%>
            <div class="model_button">
              <button class="all_button scroll_button main_contacts_button">
                  <i class="fa-solid fa-user-large button_icon"></i>
                <hr class="button_middle_line" />
                <p class="button_text"><%=contacts[i][0]%></p>
                <p class="button_text"><%=contacts[i][1]%></p>
                <p class="ghost contactsInfo"><%=contacts[i][0]%>;<%=contacts[i][1]%>;<%=contacts[i][2]%>;<%=contacts[i][3]%>;<%=contacts[i][4]%>;<%=contacts[i][5]%>;<%=contacts[i][6]%>;<%=contacts[i][7]%></p>
              </button>
            </div>
          <% } %>
        <%}%>
    </div>

    <form class="main_data">
        <div class="row_container">
            <div class="column_container column_size_big">
              <label class="label_2">Nome do Contato</label>
              <label type="text" class="input_2" ></label>
            </div>
            <div class="column_container column_size_big">
              <label class="label_2">Cargo Contato</label>
              <label type="text" class="input_2" ></label>
            </div>
          </div>
        
          <div class="row_container">
            <div class="column_container column_size_mediun">
              <label class="label_2">Telefone do Contato</label>
              <label type="text" class="input_2" ></label>
            </div>
            <div class="column_container column_size_mediun">
              <label class="label_2">Entre em contato com eMail</label>
              <label type="text" class="input_2" ></label>
            </div>
            <div class="column_container">
              <label class="label_2">Nome da Unidade</label>
              <label type="text" class="input_2" ></label>
            </div>
          </div>
        
          <div class="row_container">
            <div class="column_container column_size_big">
                <label class="label_2">Departamento</label>
                <label type="text" class="input_2" ></label>
            </div>
            <div class="column_container column_size_mediun">
                <label class="label_2">Papel</label>
                <label type="text" class="input_2" ></label>
            </div>
            <div class="column_container column_size_small">
                <label class="label_2">Lingua</label>
                <label type="text" class="input_2" ></label>
            </div>
          </div>
      </form>
</div>