<form class="main_content_page">
  <div class="main_data">
    <div class="row_container">
      <div class="column_container column_size_big">
        <label class="label_2"
          >Nome da Empresa que receberá a consultoria</label
        >
        <label type="text" class="input_2"><%=companys[num][2]%></label>
      </div>
      <div class="column_container column_size_mediun">
        <label class="label_2">CNPJ</label>
        <label type="text" class="input_2"><%=companys[num][3]%></label>
      </div>
      <div class="column_container column_size_mediun">
        <label class="label_2">Nome Comercial</label>
        <label type="text" class="input_2"><%=companys[num][0]%></label>
      </div>
    </div>

    <div class="row_container">
      <div class="column_container column_size_big">
        <label class="label_2">Responsável pelo Contato</label>
        <label type="text" class="input_2"><%=companys[num][4]%></label>
      </div>
    </div>

    <div class="row_container">
      <div class="column_container column_size_mediun">
        <label class="label_2">Cargo Contato</label>
        <label type="text" class="input_2"><%=companys[num][5]%></label>
      </div>
      <div class="column_container column_size_mediun">
        <label class="label_2">Entre em contato com o eMail</label>
        <label type="text" class="input_2"><%=companys[num][6]%></label>
      </div>
      <div class="column_container column_size_mediun">
        <label class="label_2">Telefone do Contato</label>
        <label type="text" class="input_2"><%=companys[num][7]%></label>
      </div>
    </div>
  </div>
</form>
