<div class="header_container">
  <header>
    <h1 id="spi_integradora"><%=user.empresaName%></h1>
  </header>
  <div class="header_ajustes">
    <div class="header_return">
      <div>
        <button class="all_button header_return_button">
          <i class="fa-solid fa-house"></i>
        </button>
      </div>
      <div class="header_perfil">
        <button class="header_perfil_button" key="off">
          <b id="button_header_name"><%=user.nome%></b>
        </button>
        <input type="image" class="flag_button" src="Flags/br.png"></button>
        <p class="ghost perfil_content">
          <%=user.nome%>;<%=user.papelName%>;<%=user.empresaName%>
        </p>
      </div>
    </div>
  </div>
</div>