<header class="header_container">
  <button id="header_nav_button"></button>
  <h1 id="spi_integradora"><%=empresaName%></h1>
  <div class="header_ajustes">
    <div class="header_perfil">
      <button class="header_perfil_button" key="off">
        <b id="button_header_name"><%=name%></b>
      </button>
      <input type="image" class="flag_button" src="Flags/br.png" key="off"  language=<%=user.lingua%> linguas=<%=linguas%>></button>
      <p class="ghost perfil_content"><%=name%>;<%=papelName%>;<%=empresaName%></p>
    </div>
</header>
